img{
    max-width: 100%;
}

a{
    color: currentColor;
    cursor: pointer;
}

#fixed-up{
    height: 36px;
    background-color: black;
}

#fixed-up .fixed-logo{
    width: 75px;
}

.btn {
    color: white;
    font-weight: 500;
}

.btn-orange{
    background-color: #CD3D0F;
}

.btn-blue{
    background-color: #2D64E6;
}

header{
    display: contents;
}

/* modifiche alla navbar di bootstrap  */
.navbar .search-icon{
    width: 25px;
}

.navbar{
    padding: 5px;
}

.navbar-nav .nav-link.ms_nav-ancor{
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.navbar-nav .nav-link.ms_nav-ancor > i{
    color: #9D9D9D;
    font-size: 12px;
}

.dropdown-toggle::after{
    display: none;
}

/* main   GAME-BANNER  */
#jumbo{
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
}

.game-banner .banner-image{
    width: 100%;
    max-width: 218px;
}

.game-banner .btn{
    color: white;
    font-weight: 500;
}

.game-banner .ms_banner-row{
    min-height: 600px;
}

.game-banner .banner-title{
    white-space: nowrap;
}

/* new-game card section  */
#last-games .row{
    padding: 40px 0;
}
.new-games .game-card > img{
    border-radius: 20px;
    overflow: hidden;
}

.new-games .game-card{
    position: relative;
}

.new-games .game-card.active::after,
.game-card:hover::after{
    content: "";
    display: block;
    border: 3px solid #127CD1;
    border-radius: 25px;
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
}

.game-card:hover{
    transform: translateY(-10%);
    transition: all 500ms;
}

/* new-items -- product section   */
#new-items{
    padding: 80px 20px 20px 20px;
}

#ps4{
    padding: 80px 20px;
}

.product .motto{
    color: #127CD1;
    font-size: 18px;
    font-weight: 600;
}

.product .product-paragraph{
    font-size: 18px;
    font-weight: 500;
    color: #727272;
}

.product h1{
    font-weight: 600;
}

.ms_accessories-card::after{
    content: "";
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ms_accessories-card.active::after,
.ms_accessories-card:hover::after{
    display: none;
}

.ms_accessories-card.active{
    border-bottom: 2px solid #127CD1;
}

.ms_accessories-card:hover{
    border-bottom: 2px solid #127CD1;
}

.ms_accessories-card img{
    display: block;
}

/* It Takes Two section  */
#takes-two{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
}


/* lista delle nuove uscite (new-releases)  */
#new-releases{
    color: white;
    font-weight: 500;
    background-color: #1F1F1F;
    padding: 40px 35px;
}

#new-releases .release-card img{
    border-radius: 20px;
    overflow: hidden;
}

/* Playstation Plus  */
#playstation-plus{
    background-color: #BEBCBB;
    font-weight: 600;
}

#playstation-plus .btn-white{
    color: #2B63E6;
    background-color: rgba(255, 255, 255, 0.5);
}

#playstation-plus .row{
    min-height: 395px;
}

.plus_now-logo{
    width: 100%;
    max-width: 325px;
}

@media screen and (max-width: 910px ){
    .navbar form .navbar-nav{
        display: none;
    }
}
