img{
    max-width: 100%;
}

a{
    color: currentColor;
    cursor: pointer;
}

#fixed-up{
    height: 36px;
    background-color: black;
}

#fixed-up .fixed-logo{
    width: 75px;
}

.btn {
    color: white;
    font-weight: 500;
}

.btn-orange{
    background-color: #CD3D0F;
}

.btn-blue{
    background-color: #2D64E6;
}

/* modifiche alla navbar di bootstrap  */
.navbar .search-icon{
    width: 25px;
}

.navbar{
    padding: 5px;
}

.navbar-nav .nav-link.ms_nav-ancor{
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.navbar-nav .nav-link.ms_nav-ancor > i{
    color: #9D9D9D;
    font-size: 12px;
}

.dropdown-toggle::after{
    display: none;
}

/* main   GAME-BANNER  */
.game-banner{
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 5%;
}

.game-banner .jumbo-image{
    max-width: 215px;
}

.game-banner .btn{
    color: white;
    font-weight: 500;
}

.game-banner .ms_banner-row{
    padding: 200px 15px 20px 10px
}

.game-banner .banner-title{
    white-space: nowrap;
}

/* new-game card section  */
.new-games .game-card > img{
    border-radius: 20px;
    overflow: hidden;
}

.new-games .game-card{
    position: relative;
}

.new-games .game-card.active::after{
    content: "";
    display: block;
    border: 2px solid #0070CD;
    border-radius: 25px;
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
}

/* new-items -- product section   */
#new-items{
    padding: 80px 20px 20px 20px;
}

.product .motto{
    color: #0070CD;
    font-size: 18px;
    font-weight: 600;
}

.product .product-paragraph{
    font-size: 18px;
    font-weight: 500;
    color: #727272;
}

.product h1{
    font-size: 40px;
}